<project name="BuildConfig" xmlns:maven="urn:maven-ant">
  <!-- Get the root directory of the project by looking at the directory enclosing this file. -->
  <dirname property="rootdir" file="${ant.file.BuildConfig}"/>
  <!-- Set the current Whiley version -->
  <property name="version" value="0.4.0-SNAPSHOT"/>

  <!-- Paths to common DIRs -->
  <property name="LIB_DIR" value="${rootdir}/lib/"/>
  <property name="DIST_DIR" value="${rootdir}/dist/"/>

  <property name="WYMS_DIR" value="${rootdir}/modules/WhileyModuleSystem"/>
  <property name="WYFS_DIR" value="${rootdir}/modules/WhileyFileSystem"/>
  <property name="WYBS_DIR" value="${rootdir}/modules/WhileyBuildSystem"/>  

</project>
